body{
  background-color: #911c10;
  padding:25px;font-family:helvetica,sans-serif}

.pure-g{
  width: 100%;
    background-color:#e74c3c;

    }

.pure-u-1{
  box-sizing:border-box;padding:25px;text-align:center}

h1{
  font-size:3em;font-weight:900}

  h2{font-size:1.1em;font-weight:normal;;margin-bottom:25px}p{margin-bottom:25px;text-align:left;line-height:1.6em}

  ul{list-style-type:none;padding:0}@media (max-width:48em){li a{color:red}li{display:inline;margin-right:10px}}

.pure-u-1 {
  background-color: white;
  position: relative;
}

hr {
  width: 40%;
}

body {
  font-family: 'Droid Sans', sans-serif;
}

header {
  height:380px;
  background-color: black;}

#box{
  color:white;
  margin: 0 auto;
  width:450px;
  padding:4px;
  text-align:center;
  border: solid 6px #e74c3c;
}

#lm {
  text-align:center;
}


.pure-menu-horizontal {
  background-color:#dcdcdc;
  text-align:center;

}


.pure-menu .active a {
  color:white;
  background-color:#e74c3c;
}

h3 {
  font-size:14px;
color:#e74c3c;
margin: 0 auto;
width:20%;
padding:4px;
text-align:center;
border: solid 3px #e74c3c;
margin-bottom:10px;
}

h2 {
  text-align: center;
  color:white;
}

.pure-u-1 p {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.pure-u-1-4 p {
  width: 60%;
  text-align: center;
  margin: 0 auto;
    color:white;
}


#img {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/52/5e/5a/525e5af780b1652df5a773a925bfcb0e.png);
}

#ex {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 300px;
  height: 400px;
  background-color: #dcdcdc;
}
